<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>  

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<%= render  partial: "tailwindcss/navigator" %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <div class= "mt-32 mx-auto max-w-5xl">
    <%= yield %>
    </div>  
  </body>
</html>


